<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Detection App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="landing-page">
        <header class="header">
            Color Detection Using Python
        </header>
        <div class="button-container">
            <a href="{{ url_for('index') }}" class="get-started-button">Get Started</a>
        </div>
    </div>
</body>
</html>
